---
interface Props {
	href: string;
	target?: string;
}

const { href, target } = Astro.props;
---

<a href={href} target={target} class={"underline-offset-4 transition-colors hover:text-foreground hover:underline text-foreground"}>
	<slot />
</a>
