---
interface Props {
	href: string;
	target?: string;
}

const { href, target } = Astro.props;
const isActive = Astro.url.pathname === href;
---

<a
	href={href}
	target={target}
	class:list={["underline-offset-4 transition-colors hover:text-foreground hover:underline text-foreground", isActive ? "underline" : ""]}
>
	<slot />
</a>
