---
import { Icon } from "astro-icon/components";

interface Props {
	icon: string;
	title: string;
}

const { icon, title } = Astro.props;
---

<div class="space-y-2 border-l border-border pl-3">
	<h2 class="flex items-center gap-2 text-base font-medium text-foreground">
		<Icon name={icon} class="h-4 w-4 text-muted-foreground" />
		{title}
	</h2>
	<div class="space-y-2 text-sm text-muted-foreground">
		<slot />
	</div>
</div>
