---
const { class: className, ...rest } = Astro.props;
const classes =
	`text-xs font-medium text-muted-foreground transition-colors hover:text-foreground hover:underline underline-offset-4 ${className || ""}`.trim();
---

<button {...rest} class={classes}>
	<slot />
</button>
