---
import { Icon } from "astro-icon/components";

interface Props {
	icon: string;
	name: string;
}

const { icon, name } = Astro.props;
---

<span class="inline-flex items-center gap-1.5 text-sm text-muted-foreground">
	<Icon name={icon} class="h-4 w-4 text-muted-foreground" />
	{name}
</span>
